<h1><%= params[:controller].humanize %> - <%= params[:action].humanize %> - <%= params[:option].humanize %></h1>

<%= form_tag(delete_test_class_destroy_perform_path(params[:option]), :method => "delete") do |f| %>
  <div class="field">
    <%= label_tag(:id) %><br />
    <%= select_tag(:id, options_for_select(AllTypesObject.order(:id).all.map(&:id)), :multiple => @multi) %>
  </div>
  <div class="actions">
    <%= submit_tag "Destroy #{@name}" %>
  </div>
<% end %>