<h1>Welcome to the SQL injection benchmark</h1>
<p>
  Benchmark tests:
  <ul>
    <% @tests.each do |cat, actions| %>
    <li><%= cat.humanize.pluralize %>
      <ul>
        <% actions.each do |action, methods| %>
        <% if methods.present? %>
          <li><%= action.humanize %>:
            <ul>
              <% methods.each do |method| %>
              <% if action.index("object") %>
                <li><%= method.humanize %>:
                  <% @objects.each do |obj| %>
                  <%= link_to obj.id, self.send("#{cat}_#{action}_path", obj, method) %>
                  <% end %>
                </li>
              <% elsif method.index("create_array") %>
                <li><%= method.humanize %>:
                  <% @amounts.each do |amount| %>
                  <%= link_to amount, self.send("#{cat}_#{action}_path", method, amount) %>
                  <% end %>
                </li>
              <% else %>
                <li><%= link_to method.humanize, self.send("#{cat}_#{action}_path", method) %></li>
              <% end %>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to action.humanize, self.send("#{cat}_#{action}_path") %></li>
        <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</p>