<h2>Tests</h2>
<p>
  Below you can find the several tests/framework functionality included in this module:
<p>

<% if ApplicationController::BASE_TESTS_ENABLED %>
<h3>Base tests enabled</h3>
<ul>
  <li>Sanitizers methods:
    <ul>
        <li><%= link_to 'none', base_test_sanitizers_form_path('none') %></li>
        <li><%= link_to 'automatic protection', base_test_sanitizers_form_path('automatic') %></li>
        <li><%= link_to 'html_escape', base_test_sanitizers_form_path('html_escape') %></li>
        <li><%= link_to 'escape_once', base_test_sanitizers_form_path('escape_once') %></li>
        <li><%= link_to 'strip_tags', base_test_sanitizers_form_path('strip_tags') %></li>
        <li>Sanitize:
          <%= link_to 'sanitize (none allowed)', base_test_sanitizers_form_path('sanitize', 'none') %>
          <%= link_to 'sanitize (no tags allowed)', base_test_sanitizers_form_path('sanitize', 'no_tags') %>
          <%= link_to 'sanitize (no attributes allowed)', base_test_sanitizers_form_path('sanitize', 'no_attributes') %>
          <%= link_to 'sanitize (custom allowed)', base_test_sanitizers_form_path('sanitize', 'custom') %>
          <%= link_to 'sanitize (default)', base_test_sanitizers_form_path('sanitize', 'default') %>
        </li>
    </ul>
  </li>
</ul>
<p>Disable by setting ApplicationController::BASE_TESTS_ENABLED to false</p>
<% else %>
<h3>Base tests disabled</h3>
<p>Enable by setting ApplicationController::BASE_TESTS_ENABLED to true</p>
<% end %>