<h1><%= params[:controller].humanize %> - <%= params[:action].humanize %> - <%= params[:method].humanize %></h1>

<%= form_for(@all_types_object, :url => update_test_class_update_all_update_path(params[:method]), :method => "put") do |f| %>
  <h2>Updates</h2>
  <%= render 'all_types_objects/fields', :f => f %>
  <h2>Conditions</h2>
  XXX TODO?
  <h2>Options</h2>
  <div class="field">
    <%= label_tag(:limit) %><br />
    <%= text_field_tag(:limit) %>
  </div>
  <div class="field">
    <%= label_tag(:order) %><br />
    <%= select_tag(:order, options_for_select([nil] + @all_types_object.attribute_names)) %>
  </div>
  <div class="actions">
    <%= f.submit "Update All types objects" %>
  </div>
<% end %>

<%= link_to 'Root', root_path %>