<p id="notice"><%= notice %></p>

<p>
  <b>Binary col:</b>
  <%= @all_types_object.binary_col %>
</p>

<p>
  <b>Boolean col:</b>
  <%= @all_types_object.boolean_col %>
</p>

<p>
  <b>Date col:</b>
  <%= @all_types_object.date_col %>
</p>

<p>
  <b>Datetime col:</b>
  <%= @all_types_object.datetime_col %>
</p>

<p>
  <b>Decimal col:</b>
  <%= @all_types_object.decimal_col %>
</p>

<p>
  <b>Float col:</b>
  <%= @all_types_object.float_col %>
</p>

<p>
  <b>Integer col:</b>
  <%= @all_types_object.integer_col %>
</p>

<p>
  <b>String col:</b>
  <%= @all_types_object.string_col %>
</p>

<p>
  <b>Text col:</b>
  <%= @all_types_object.text_col %>
</p>

<p>
  <b>Time col:</b>
  <%= @all_types_object.time_col %>
</p>

<p>
  <b>Timestamp col:</b>
  <%= @all_types_object.timestamp_col %>
</p>


<%= link_to 'Back', create_test_new_path %>
<%= link_to 'Root', root_path %>