<%= form_for(@all_types_object) do |f| %>
  <% if @all_types_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@all_types_object.errors.count, "error") %> prohibited this all_types_object from being saved:</h2>

      <ul>
      <% @all_types_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :binary_col %><br />
    <%= f.text_field :binary_col %>
  </div>
  <div class="field">
    <%= f.label :boolean_col %><br />
    <%= f.check_box :boolean_col %>
  </div>
  <div class="field">
    <%= f.label :date_col %><br />
    <%= f.date_select :date_col %>
  </div>
  <div class="field">
    <%= f.label :datetime_col %><br />
    <%= f.datetime_select :datetime_col %>
  </div>
  <div class="field">
    <%= f.label :decimal_col %><br />
    <%= f.text_field :decimal_col %>
  </div>
  <div class="field">
    <%= f.label :float_col %><br />
    <%= f.text_field :float_col %>
  </div>
  <div class="field">
    <%= f.label :integer_col %><br />
    <%= f.number_field :integer_col %>
  </div>
  <div class="field">
    <%= f.label :string_col %><br />
    <%= f.text_field :string_col %>
  </div>
  <div class="field">
    <%= f.label :text_col %><br />
    <%= f.text_area :text_col %>
  </div>
  <div class="field">
    <%= f.label :time_col %><br />
    <%= f.time_select :time_col %>
  </div>
  <div class="field">
    <%= f.label :timestamp_col %><br />
    <%= f.datetime_select :timestamp_col %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
